.sala-info {
  text-align: center;
  margin: 2px;
  border-style: solid;
  border-width: 0.5px;
}

.sala-container {
  margin-left: 4px;
  text-align: center;
  width: 98%;
  border-style: solid;
  border-width: 0.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lista-salas {
  height: 490px;
  overflow-y: scroll;
}
.chat-container {
  height: 490px;
  border: #0061a7;
  border-radius: 1%;
  /* border-style: solid; */
  border-width: 0.5px;
  padding-left: 5px;
  margin: 4px;
  width: 80%;
}

.chat-body {
  margin: 2px;
  padding: 5px;
  border: #0061a7;
  border-radius: 1%;
  /* border-style: solid; */
  border-width: 0.5px;
  height: 86%;
  overflow-y: scroll;
}

.chat-tools {
  margin: 2px;
  border: #0061a7;
  border-radius: 1%;
  /* border-style: solid; */
  border-width: 0.5px;
  height: 10%;
  width: 96%;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.chat-tools textarea {
  width: 90%;
  margin: 4px;
  height: 40px;
  font-size: 15px;
  resize: none;
}

.container-card {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  word-wrap: break-word;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container-card::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container-card img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container-card img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}
.visible {
  width: 100%;
  visibility: visible;
}

.hidden {
  width: 0px;
  visibility: hidden;
}

button {
  margin: 2px;
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
}
button:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}
button:active {
  position: relative;
  top: 1px;
}

.h3-entrasala {
  cursor: pointer;
}

.h3-entrasala:hover {
  font-size: large;
}
